#Compilation products
*.o
*.Po
tetris_sdl
tetris_fltk
FieldCheck
PieceCheck
TetrisGameCheck
IntegrationCheck
# from Tetris_fltkgui.fl
Tetris_fltkgui.cpp
Tetris_fltkgui.hpp
#Automake products
aclocal.m4
autom4te.cache
autoscan.log
configure
configure.scan
config.guess
config.h
config.h.in
config.log
config.status
config.sub
Makefile
Makefile.in
stamp-h1
.dirstamp
.deps
# Autotools can and should install these for you
# use autoreconf -i, or -s for symlinks.
INSTALL
depcomp
install-sh
missing
test-driver
#Autotools test products
*.log
*.trs
