#Compilation products
*.o
*.Po
tetris_fltk
FieldCheck
PieceCheck
TetrisGameCheck
IntegrationCheck
# from Tetris_fltkgui.fl
Tetris_fltkgui.cpp
Tetris_fltkgui.hpp
#Automake products
aclocal.m4
autom4te.cache
autoscan.log
configure
configure.scan
config.h
config.h.in
config.log
config.status
Makefile
Makefile.in
stamp-h1

