#Compilation products
*.o
*.Po
tetris_fltk
FieldCheck
PieceCheck
# from tetris_fltkgui.fl
tetris_fltkgui.cpp
tetris_fltkgui.hpp
#Automake products
aclocal.m4
autom4te.cache
autoscan.log
configure
configure.scan
config.h
config.h.in
config.log
config.status
Makefile
Makefile.in
stamp-h1

